
<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p>Dynamic Blog is a website which lets you submit an article which upon approval will be up on our website and you
      can get a good amount of reach from here!</p>
    
  <%  posts.forEach(function(post){ %>

    <div class="note">
      <h2><%=post.title%></h2>
    <p>
    <%=post.content.substring(0, 50) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    </div>

    <% }) %>


<%- include("partials/footer"); -%>
